<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - FitLife India</title>
    <link rel="stylesheet" href="/stylesheets/signUp.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>FitLife India</h1>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>

        <li><a href="/exercises">Exercises</a></li>
        <li><a href="/friends">Friends</a></li>
      </ul>
    </nav>

    <main class="signup-main">
      <section class="signup-form">
        <h2>Sign Up</h2>
        <form action="/register" method="post">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="detail"
          /><br />
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="detail"
          /><br />
          <input
            type="text"
            name="fullName"
            placeholder="FullName"
            class="detail"
          /><br />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="detail"
          />
          <input type="submit" class="btn int" value="Register Account" />
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 FitLife India. All rights reserved.</p>
    </footer>
  </body>
</html>
